<!--******************************************************************************
 *  Execution       : default node          
 *                      
 * 
 *  Purpose         : Room chatting with two peoples
 * 
 *  @description    : Create a HomePage form 
 * 
 *  @file           : ChatApp application
 *  @overview       : Connect and chat with two peoples
 *  @author         : Bhupendra Singh <bhupendrasingh.ec18@gmail.com>
 *  @version        : 1.0
 *  @since          : 19-mar-2019
 *
 *****************************************************************************-->
<!--
required files
 -->
<script src="../angular.js"></script>
<script src="../angular-route.min.js"></script>
<script src="../app.js"></script>

<!--
            css part
        -->
<title>Home Page</title>
<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: darkgreen;
    }

    li {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;

    }

    a {
        color: aliceblue;
        text-decoration: none;
    }

    h1 {
        margin-left: 350px;
        font-size: 3em;
    }

    img {
        height: 60px;
        width: 100px;
        margin-left: 459px;
        margin-top: -50px;
        margin-bottom: -16px;
        display: block;
    }

    button {
        width: 110px;
        height: 36px;
        margin-left: 677px;
        margin-right: auto;
        text-align: center;
        font-size: 20px;
        border: solid black;
        background-color: green;
        color: floralwhite;
        display: block;
        margin-top: -33px;
    }

    .leftblock {
        height: 445px;
        width: 387px;
        border: solid black;
    }

    .mainblock {
        margin-top: -560px;
    }

    .root {
        margin-bottom: 90px;
    }

    .rightblock {
        height: 413px;
        width: 784px;
        border: solid black;
        margin-left: 454px;
        margin-bottom: -3px;
    }

    .send {
        height: 30px;
        width: 678px;
        border: solid black;
        margin-left: 454px;
    }

    input {
        width: 678;
        height: 30px;
    }

    .button {
        width: 9%;
        background: rgb(0, 0, 0);
        border: none;
        padding: 10px;
    }

    h2 {
        margin-left: 135px;
    }
</style>

<!--
    Homepage connected from another form
-->

<body>
    <div class="root">
        <ul>
            <li><b><a href="HomePage.html">Home</a></li>
            <!-- <li><b><a href="Profile.html">Profile</a></li> -->
            <li><b><a href="#!/login">Logout</a></li>
        </ul>
    </div>
    <div class="leftblock">
        <h2>Users List</h2>
    </div>

    <div class="mainblock">

        <div>
            <h1>Welcome to ChatApp <img src="../assets/img chatapp.png"></h1>
            <div class="rightblock">
            </div>
            <div class="send">
                <form action="">
                    <input id="message" ng-model="message" autocomplete="off"><button ng-click="">Send</button></input>
            </div>
        </div>
    </div>


    <!-- <div>
        <button type="submit" onclick="location.href=''">START CHAT</button>
    </div> -->
    </form>
</body>