<!--******************************************************************************
 *  Execution       : default node         
 *                      
 * 
 *  Purpose         : Room chatting with two peoples
 * 
 *  @description    : Create a ResetPassword form 
 * 
 *  @file           : ChatApp application
 *  @overview       : Connect and chat with two peoples
 *  @author         : Bhupendra Singh <bhupendrasingh.ec18@gmail.com>
 *  @version        : 1.0
 *  @since          : 19-mar-2019
 *
 *****************************************************************************-->

<title>Reset Password Chat App</title>

<!--
    css part
-->
<style>
    form {

        background-color: darkgray;
        margin-left: auto;
        margin-top: 35px;
        margin-bottom: auto;
        margin-right: auto;
        width: 450px;
        padding: 30px
    }

    h1 {

        color: black;
        margin-left: 50;
        font-size: 28
    }

    input {
        width: 450px;
        height: 30px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        background-color: #ddd;
        border: 1px solid #f1f1f1;
        padding: 20px;
        display: block;
    }

    button {
        width: 200px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 20px;
        border: none;
        background-color: green;
        color: floralwhite;
        display: block;
    }

    a:link {
        margin: 100px;
        margin-left: 210px;
        margin-right: 1px;
        text-decoration: none;
        font-size: 17px;

    }

    snackbar {
        visibility: hidden;
        min-width: 250px;
        margin-left: -125px;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        left: 50%;
        bottom: 30px;
        font-size: 17px;
    }
</style>

<!--
    input for reset password
-->

<body background="../assets//e.jpeg">
    <form>
        <h1>RESET YOUR PASSWORD</h1>

        <div class="userinput">

            <label for="password"><b>New Password</b></label>
            <input type="password" placeholder="Enter New Password" name="password" ng-model="password" id="password"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Password"
                title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                required>

            <label for="confirmpassword"><b>Confirm your Password</b></label>
            <input type="Password" placeholder="Re-Enter Password to confirm" name="confirmpassword"
                ng-model="confirmpassword" id="confirmpassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                placeholder="Confirm Password"
                title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                ng-model="confirmpassword" required><br>

            <button type="submit" ng-click="resetPassword()">Change Password</button>
        </div>


        </div>
        <br>
        <div>
            <a href="#!/login" ng-click="go()">Log in</a>
        </div>

    </form>
</body>